<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sa="http://www.thymeleaf.org/extras/sa-token">
<head th:replace="~{fragments/import :: import(title=${torrent.title}, headContent=~{::#pageHead})}">
    <th:block id="pageHead">
        <style>
            .centered-td {
                align-items: center;
            }
        </style>
        <script th:src="@{/js/tinymce/tinymce.min.js}"></script>
    </th:block>
</head>

<body>
<!-- 头部保留不变 -->

<!-- 插入 Header -->
<div th:replace="~{fragments/header :: header(${user})}"></div>

<main class="container my-4">
    <!-- 面包屑导航保留不变 -->
    <div class="container my-4">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="mb-4">
                    <h1 class="mb-1" th:text="${torrent.title}"></h1>
                    <h2 class="text-muted" th:text="${torrent.subtitle}"></h2>
                </div>
                <table class="table table-sm table-borderless">
                    <tbody>
                    <tr>
                        <th class="centered-td" scope="row">基本信息</th>
                        <td class="centered-td"><b>分类:</b> <span th:styleappend="'color:' + ${torrent.category.color}"
                                                                   th:text="${torrent.category.name}"></span>
                            <b>发布时间:</b> <span
                                    th:text="${timeConverter.formatTime(torrent.createdAt, timezone)}"></span>
                            <b>发布者:</b> <span th:if="${torrent.anonymous}">匿名用户</span><a
                                    th:unless="${torrent.anonymous}"
                                    th:styleappend="'color:' + ${torrent.anonymous ? 'black' : torrent.owner.levelPermissionGroup.color}"
                                    th:text="${torrent.owner.name}"
                                    th:href="@{/users/profile/{id}(id=${torrent.owner.id})}"></a>
                        </td>
                    </tr>
                    <tr>
                        <th class="centered-td" scope="row">文件</th>
                        <td class="centered-td">
                            <b>大小:</b> <span
                                th:text="${unitConverter.autoUnit(torrent.size)}"></span>
                            <b>文件数:</b> <span th:text="${torrent.info.files}"></span>
                            <b>BT协议版本:</b> <span th:text="${torrent.info.metaVersion}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="centered-td" scope="row">操作</th>
                        <td class="centered-td">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <div sa:hasPermission="torrent.download" class="ps-2 mr-2">
                                    <a th:href="@{/torrents/{id}/download(id=${torrent.id})}" class="text-nowrap">
                                        <i class="fas fa-download mr-1"></i>下载种子
                                    </a>
                                </div>
                                <div sa:hasPermissionOr="torrent.edit, torrent.edit.other" class="ps-2 mr-2">
                                    <a th:href="@{/torrents/{id}/edit(id=${torrent.id})}" class="text-nowrap">
                                        <i class="fa-solid fa-pen-to-square mr-1"></i>编辑
                                    </a>
                                </div>
                                <div sa:hasPermissionOr="torrent.delete, torrent.delete.other" class="ps-2 mr-2">
                                    <a th:href="@{/torrents/{id}/delete(id=${torrent.id})}"
                                       class="text-danger text-nowrap" th:hidden="${torrent.deleted}"><i
                                            class="fa-solid fa-trash mr-1"></i>删除
                                    </a>
                                </div>
                                <div sa:hasPermissionOr="torrent.undelete" class="ps-2 mr-2">
                                    <a th:href="@{/torrents/{id}/undelete(id=${torrent.id})}"
                                       class="text-primary text-nowrap" th:hidden="!${torrent.deleted}"><i
                                            class="fa-solid fa-trash-arrow-up mr-1"></i>反删除
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="centered-td" scope="row">标签</th>
                        <td class="centered-td">
                            <div th:replace="~{fragments/torrentTags :: tags(torrentTags=${torrentTags})}"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div id="content" th:utext="${torrent.description}">
                </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="card shadow-lg">
                <div class="card-body d-flex justify-content-between align-items-center flex-wrap">
                    <!-- 标题和总数 -->
                    <div>
                        <h5 class="card-title mb-0">
                            <i class="fas fa-heart text-danger"></i>
                            感谢此种子
                            <small class="text-muted">（共 <span th:text="${totalThanks}"></span> 次感谢）</small>
                        </h5>
                    </div>
                    <!-- 按钮固定在右侧 -->
                    <div class="mt-2 mt-md-0">
                        <button th:disabled="${thankedTorrent}"
                                class="btn btn-outline-primary btn-sm"
                                id="thankButton">
                            <i class="fas fa-hand-holding-heart"></i> <span
                                th:text="${thankedTorrent ? '已感谢发布者' : '说谢谢'}">说谢谢</span>
                        </button>
                    </div>
                </div>
                <!-- 显示感谢列表 -->
                <div class="card-body">
                    <span th:each="thank : ${thanks}">
                        <a th:href="@{/profile/{id}(id=${thank.owner.id})}"
                           class="badge badge-pill"
                           th:style="'background-color:' + ${thank.owner.primaryPermissionGroup.color} + ';color:white'"
                           th:text="${thank.owner.name}">
                        </a>
                    </span>
                    <span th:if="${thanksTotalSize > #lists.size(thanks)}"
                          class="badge badge-pill badge-secondary">+<span
                            th:text="${thanksTotalSize - #lists.size(thanks)}"></span> 位用户
                    </span>
                </div>
            </div>
        </div>


        <div class="container my-4">
            <div class="card shadow-lg">
                <div class="card-body d-flex justify-content-between align-items-center flex-wrap">
                    <!-- 标题和总数 -->
                    <div>
                        <h5 class="card-title mb-0">
                            <i class="fas fa-person text-danger"></i>
                            同伴
                            <small class="text-muted">（共 <span th:text="${peers.total}"></span> 个同伴）</small>
                        </h5>
                    </div>
                </div>
                <!-- 显示感谢列表 -->
                <div class="card-body">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#peersCollapse"
                            aria-expanded="false" aria-controls="peersCollapse">
                        展开/折叠同伴列表
                    </button>
                    <div class="collapse" id="peersCollapse">
                        <div class="card card-body">
                            <p th:if="${peers.records.size() != peers.total}">由于记录数量过多，此处仅展示前 <span
                                    th:text="${peers.records.size()}"> 条记录。</span></p>
                            <table>
                                <thead>
                                <tr>
                                    <th>用户</th>
                                    <th>IP类型</th>
                                    <th>上传量</th>
                                    <th>下载量</th>
                                    <th>分享率</th>
                                    <th>进度</th>
                                    <th>连接时间</th>
                                    <th>最近汇报</th>
                                    <th>客户端</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="peer : ${peers.records}">
                                    <td nowrap th:text="${peer.owner.name}"
                                        th:styleappend="'color:'+${peer.owner.primaryPermissionGroup.color}"
                                        th:href="@{/users/profile/{id}(id=${torrent.owner.id})}">用户名
                                    </td>
                                    <td nowrap th:text="${peer.ipType()}">上传量</td>
                                    <td nowrap th:text="${unitConverter.autoUnit(peer.uploaded)}">上传量</td>
                                    <td nowrap th:text="${unitConverter.autoUnit(peer.downloaded)}">下载量</td>
                                    <td nowrap th:text="${peer.shareRatioStr()}">分享率</td>
                                    <td nowrap th:text="${peer.progress() + '%'}">进度</td>
                                    <td th:text="${timeConverter.formatDuration(peer.connectionTime())}">连接时间</td>
                                    <td th:text="${timeConverter.formatTime(peer.lastAnnounce, timezone)}">最近汇报</td>
                                    <td th:text="${peer.userAgent}">客户端</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-4">
            <div class="card shadow-lg">
                <div class="card-body d-flex justify-content-between align-items-center flex-wrap">
                    <!-- 标题和总数 -->
                    <div>
                        <h5 class="card-title mb-0">
                            <i class="fas fa-microchip text-info"></i>
                            torrent 信息
                        </h5>

                    </div>
                </div>
                <!-- 显示torrent 信息 -->
                <div class="card-body">
                    <div class="accordion" id="torrentInfos">
                        <div class="card">
                            <div class="card-header" id="headingFileList">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#fileListCollapse" aria-expanded="false"
                                            aria-controls="collapseOne">
                                        文件列表
                                    </button>
                                </h2>
                            </div>
                            <div id="fileListCollapse" class="collapse" aria-labelledby="headingFileList"
                                 data-parent="#torrentInfos">
                                <div class="card-body">
                                    <textarea style="width: 100%; height: min-content" disabled
                                              th:text="${torrent.info.fileTree.toString()}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingBitTorrentInfo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#btInfoCollapse" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        BitTorrent 技术信息
                                    </button>
                                </h2>
                            </div>
                            <div id="btInfoCollapse" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#torrentInfos">
                                <div class="card-body">
                                    <table class="table table-sm"
                                           th:replace="~{fragments/torrentInfo :: torrentInfo(torrent = ${torrent})}"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- 操作脚本 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    const url = '/thanks/[[${torrent.id}]]';
    /*]]>*/
    document.getElementById('thankButton').addEventListener('click', function () {
        fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            }
        ).then(response => {
            if (response.ok) {
                window.location.reload();
            } else {
                alert('操作失败，请稍后重试');
            }
        })
            .catch(error => console.error('Error:', error));
    });
    /*]]>*/
</script>

<!-- 操作按钮 -->
<div class="text-center">
    <a sa:hasPermission="torrent.download" th:href="@{/torrents/{id}/download(id=${torrent.id})}"
       class="btn btn-primary btn-lg mr-3">
        <i class="fas fa-download mr-2"></i>下载种子
    </a>
    <!--    <button class="btn btn-outline-secondary btn-lg">-->
    <!--        <i class="fas fa-star mr-2"></i>加入收藏-->
    <!--    </button>-->
    <!--                <div th:if="${user.admin}" class="mt-3">-->
    <!--                    <button class="btn btn-danger btn-sm">-->
    <!--                        <i class="fas fa-trash mr-2"></i>删除种子-->
    <!--                    </button>-->
    <!--                </div>-->
</div>

<div th:replace="~{fragments/commentSection :: commentSection(comments=${comments}, torrentId=${torrent.id})}"></div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>