<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sa="http://www.thymeleaf.org/extras/sa-token">
<head th:replace="~{fragments/import :: import(title=${torrent.title})}">
</head>
<body>
<!-- 头部保留不变 -->

<!-- 插入 Header -->
<div th:replace="~{fragments/header :: header(${user})}"></div>

<main class="container my-4">
    <!-- 面包屑导航保留不变 -->
    <div class="container my-4">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="mb-4">
                    <h1 class="mb-1" th:text="${torrent.title}"></h1>
                    <h2 class="text-muted" th:text="${torrent.subtitle}"></h2>
                </div>
                <table class="table table-sm table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">基本信息</th>
                        <td><b>分类:</b> <span th:styleappend="'color:' + ${torrent.category.color}"
                                               th:text="${torrent.category.name}"></span>
                            <b>发布时间:</b> <span
                                    th:text="${#temporals.format(torrent.createdAt, 'yyyy-MM-dd')}"></span>
                            <b>发布者:</b> <span th:if="${torrent.anonymous}">匿名用户</span><a
                                    th:unless="${torrent.anonymous}"
                                    th:styleappend="'color:' + ${torrent.anonymous ? 'black' : torrent.owner.primaryPermissionGroup.color}"
                                    th:text="${torrent.owner.name}"
                                    th:href="@{/profile/{id}(id=${torrent.owner.id})}"></a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">文件</th>
                        <td>
                            <b>大小:</b> <span
                                th:text="${T(com.ghostchu.tracker.sapling.util.UnitConverter).autoUnit(torrent.size)}"></span>
                            <b>文件数:</b> <span th:text="${torrent.info.files}"></span>
                            <b>BT协议版本:</b> <span th:text="${torrent.info.metaVersion}"></span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">操作</th>
                        <td>
                            <div sa:hasPermissionOr="torrent.edit, torrent.edit.other"><a
                                    th:href="@{/torrents/{id}/edit(id=${torrent.id})}"><i
                                    class="fa-solid fa-pen-to-square"></i>编辑</a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="content" th:utext="${torrent.description}">
            </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="card shadow-lg">
                <div class="card-body d-flex justify-content-between align-items-center flex-wrap">
                    <!-- 标题和总数 -->
                    <div>
                        <h5 class="card-title mb-0">
                            <i class="fas fa-heart text-danger"></i>
                            感谢此种子
                            <small class="text-muted">（共 <span th:text="${totalThanks}"></span> 次感谢）</small>
                        </h5>
                    </div>
                    <!-- 按钮固定在右侧 -->
                    <div class="mt-2 mt-md-0">
                        <button th:disabled="${thankedTorrent}"
                                class="btn btn-outline-primary btn-sm"
                                id="thankButton">
                            <i class="fas fa-hand-holding-heart"></i> 说谢谢
                        </button>
                    </div>
                </div>
                <!-- 显示感谢列表 -->
                <div class="card-body">
            <span th:each="thank : ${thanks}">
                <a th:href="@{/profile/{id}(id=${thank.owner.id})}"
                   class="badge badge-pill"
                   th:style="'background-color:' + ${thank.owner.primaryPermissionGroup.color} + ';color:white'"
                   th:text="${thank.owner.name}">
                </a>
            </span>
                    <span th:if="${thanksTotalSize > #lists.size(thanks)}"
                          class="badge badge-pill badge-secondary">
                +<span th:text="${thanksTotalSize - #lists.size(thanks)}"></span> 位用户
            </span>
            </div>
            </div>
        </div>
        <div class="container my-4">
            <div class="card shadow-lg">
                <div class="card-body d-flex justify-content-between align-items-center flex-wrap">
                    <!-- 标题和总数 -->
                    <div>
                        <h5 class="card-title mb-0">
                            <i class="fas fa-microchip text-info"></i>
                            torrent 信息
                        </h5>

                    </div>
                </div>
                <!-- 显示torrent 信息 -->
                <div class="card-body">
                    <div class="accordion" id="torrentInfos">
                        <div class="card">
                            <div class="card-header" id="headingFileList">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#fileListCollapse" aria-expanded="false"
                                            aria-controls="collapseOne">
                                        文件列表
                                    </button>
                                </h2>
                        </div>
                            <div id="fileListCollapse" class="collapse show" aria-labelledby="headingFileList"
                                 data-parent="#torrentInfos">
                                <div class="card-body">
                                    <textarea style="width: 100%; height: min-content" disabled
                                              th:text="${torrent.info.fileTree.toString()}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingBitTorrentInfo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#btInfoCollapse" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        BitTorrent 技术信息
                                    </button>
                                </h2>
                            </div>
                            <div id="btInfoCollapse" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#torrentInfos">
                                <div class="card-body">
                                    <form>
                                        <table class="table table-sm">
                                            <tbody>
                                            <tr>
                                                <th scope="row">BT Meta 版本:</th>
                                                <td th:text="${torrent.info.metaVersion()}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">混合种子:</th>
                                                <td th:text="${torrent.info.hybrid()}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">信息哈希值(info hash) (v1):</th>
                                                <td th:text="${torrent.info.infoHashV1()}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">信息哈希值(info hash) (v2):</th>
                                                <td th:text="${torrent.info.infoHashV2()}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">文件内容总大小:</th>
                                                <td th:text="${torrent.info.totalSize() + ' bytes'}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">文件内容数量:</th>
                                                <td th:text="${torrent.info.files()}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">种子创建工具:</th>
                                                <td th:text="${torrent.info.createdBy()}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">种子创建时间:</th>
                                                <td th:text="${torrent.info.creationDate()}"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">种子创建人:</th>
                                                <td th:text="${torrent.info.publisher()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</main>


<!-- 操作脚本 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    document.getElementById('thankButton').addEventListener('click', function () {
        fetch([[@{/thanks/
    }]]
        +[[${torrent.id}]], {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            }
        }
    )
    .
        then(response => {
            if (response.ok) {
                window.location.reload();
            } else {
                alert('操作失败，请稍后重试');
            }
        })
            .catch(error => console.error('Error:', error));
    });
    /*]]>*/
</script>

<!-- 操作按钮 -->
<div class="text-center">
    <a th:href="@{/torrents/{id}/download(id=${torrent.id})}"
       class="btn btn-primary btn-lg mr-3">
        <i class="fas fa-download mr-2"></i>下载种子
    </a>
    <button class="btn btn-outline-secondary btn-lg">
        <i class="fas fa-star mr-2"></i>加入收藏
    </button>
    <!--                <div th:if="${user.admin}" class="mt-3">-->
    <!--                    <button class="btn btn-danger btn-sm">-->
    <!--                        <i class="fas fa-trash mr-2"></i>删除种子-->
    <!--                    </button>-->
    <!--                </div>-->
</div>
</div>
</div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>