<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.tracker.sapling.mapper.UserTasksMapper">

    <select id="selectUserTaskRecordsForUpdate" parameterType="map"
            resultType="com.ghostchu.tracker.sapling.entity.UserTasks">
        SELECT *
        FROM user_task_records
        WHERE owner = #{owner}
          AND torrent = #{torrent} FOR UPDATE
    </select>


</mapper>
